.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-color: #fcf1f1;
    box-sizing: border-box;
  }
  
  .left-panel {
    width: 80%; 
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .left-panel h2 {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .left-panel p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .right-panels {
    width: 80%; 
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;
    box-sizing: border-box;
  }
  
  .right-panel {
    flex: 1 1 20%; 
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .right-panel img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .right-panel button {
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    background-color: #547AFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  h3{
    font-family: 'Fredoka', sans-serif;
  }
  