<app-tabs></app-tabs>

<div class="container">
  <div class="left-panel">
    <h2>INSTRUCCIONES</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna nulla, consectetur a mollis in, vestibulum vitae tellus. Vivamus aliquam pretium molestie.</p>
  </div>
  <div class="right-panels">
    <div class="right-panel top">
      <img src="images/testS.png" alt="Instructions Image">
      <button (click)="startTest()">Iniciar</button>
    </div>
    <div class="right-panel bottom">
      <img src="images/testS.png" alt="Instructions Image">
      <button (click)="startTest()">Iniciar</button>
    </div>
  </div>
</div>
