<app-tabs-student></app-tabs-student>

<div class="container">
  <div *ngIf="realizacionesTest && realizacionesTest.length" class="grid-container">
    <div *ngFor="let realizacion of realizacionesTest" class="card">
      <div class="card-header">
        <h3>Test N° {{ realizacion.id_realizaciontest | number:'2.0' }}</h3>
      </div>
      <div class="card-body">
        <p>Fecha: {{ realizacion.fecha | date:'shortDate' }}</p>
        <p>ID Test: {{ realizacion.id_test }}</p>
        <p>Nombre del Test: {{ realizacion.test.nombre }}</p>
        <p>Puntaje: {{ realizacion.puntaje }}</p>
        <p>
          <strong class="level-text">Nivel:</strong>
          <span [ngClass]="{
            'level-green': realizacion.nivel === 'Normal' || 'Estrés Bajo' || 'Ansiedad Normal',
            'level-yellow': realizacion.nivel === 'Ligeramente deprimido' || 'Moderadamente deprimido' || 'Estrés Medio' || 'Ansiedad Moderada',
            'level-red': realizacion.nivel === 'Severamente deprimido' || 'Estrés Alto' || 'Ansiedad Severa' || 'Ansiedad Maxima'
          }">
            {{ realizacion.nivel }}
          </span>
        </p>
        <p>Recomendacion: {{ realizacion.observaciones }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!realizacionesTest || !realizacionesTest.length">
    No hay realizaciones de test disponibles.
  </div>
</div>
