.container {
    background-color: #547AFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.5vh; /* El contenedor ocupa el 10% de la altura de la pantalla */
    padding: 0 1.5rem; /* Añadir padding para que los elementos no toquen los bordes del contenedor */
    overflow: hidden; /* Ocultar cualquier contenido que exceda el contenedor */
}

.title {
    flex: 1; /* Ocupa todo el espacio disponible a la izquierda */
    text-align: left;

    span{
        color: white;
        margin-left: 40px;
        font-size: xx-large;
        font-family: 'Fredoka', sans-serif;
        font-weight:900;
    }
}
