.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-color: #fcf1f1;
    font-family: 'Fredoka', sans-serif;
  }
  
  .card {
    width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 1rem;
  }
  
  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 1rem 2rem;
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .student-info, .treatment, .appointment {
    margin-bottom: 1.5rem;
  }
  
  .student-info h4, .treatment h4, .appointment h4 {
    margin-bottom: 0.5rem;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    padding: 0.5rem;
  }
  
  label {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    border-radius: 0 0 8px 8px;
  }
  
  .btn {
    padding: 0.5rem 1.5rem;
    background-color: #547AFF;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Fredoka', sans-serif;
    
  }
  
  .btn:hover {
    background-color: #4169e1;
  }
  
  .level-text {
    font-weight: bold;
    margin-right: 0.5rem; /* Ajustar el espacio entre el texto fijo y el dinámico */
  }
  
  /* Agregar estilos para el valor dinámico */
  .level-green {
    color: green;
  }
  
  .level-yellow {
    color: orange;
  }
  
  .level-red {
    color: red;
  }