<app-tabsspecialist></app-tabsspecialist>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Diagnosticar Test N° {{ id_realizaciontest | number:'2.0' }}</h3>
    </div>
    <div class="card-body">
      <div class="student-info">
        <h4>Información del alumno:</h4>
        <p><strong>Apellidos:</strong> {{ respuestas[0]?.realizacionTest?.estudiante?.usuario?.apellido }}</p>
        <p><strong>Nombres:</strong> {{ respuestas[0]?.realizacionTest?.estudiante?.usuario?.nombre }}</p>
        <p><strong>Código:</strong> {{ respuestas[0]?.realizacionTest?.estudiante?.id_estudiante }}</p>
        <p>
          <strong class="level-text">Nivel:</strong>
          <span [ngClass]="{
            'level-green': respuestas[0]?.realizacionTest?.nivel === 'Leve',
            'level-yellow': respuestas[0]?.realizacionTest?.nivel === 'Moderado',
            'level-red': respuestas[0]?.realizacionTest?.nivel === 'Grave'
          }">
            {{ respuestas[0]?.realizacionTest?.nivel }}
          </span>
        </p>
        <p><strong>Observacion:</strong> {{ respuestas[0]?.realizacionTest?.observaciones }}</p>
      </div>
      <div class="observaciones">
        <h4>Observaciones:</h4>
        <textarea [(ngModel)]="observaciones"></textarea>
        <button class="btn" (click)="actualizarObservaciones()">Guardar Observaciones</button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="finalizar()" #formulario="ngForm" class="appointment" >
        <h4>Solicitar cita:</h4>
        <label>
          <input type="radio" name="solicitarCita" [(ngModel)]="solicitarCita" value="si"> Sí
        </label>
        <label>
          <input type="radio" name="solicitarCita" [(ngModel)]="solicitarCita" value="no"> No
        </label>
        <button class="btn" type="submit">Enviar</button>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn" (click)="volver()">Volver</button>
      <button class="btn" (click)="finalizar()">Finalizar</button>
    </div>
  </div>

</div>
